*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/bgd.f7687446.png);
}

header{
    background-color: rgb(255,236,245);
    
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    align-items: center;
    padding: 1rem 1rem;

}

nav{
    display: flex;
}

ul{
    padding: 0;
}

li{
    display: inline-block;
    padding: 0 1.25rem;
    margin-left: 1.25rem;


}

li a{
    color: rgb(223, 122, 169);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;
}
li a:hover{
    color: rgb(219, 69, 139) ;
    opacity: 1;
}
li button{
    color:#fff;
    padding: 1rem 2rem;
    margin: 0 1.5rem;
    border: 1px solid rgb(219, 69, 139);
    background-color: rgb(219, 69, 139) ;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;

} 

.svgs a{
    text-decoration: none;

}
.nav-toggle{
    display:none ;
    position:absolute;
    top: 1.5rem;
    right: 1rem;
}

.open{
    background-color: #fff;
    height:50vh;

}

.hidden{
    display: none;
}

a img{
    width: 50px;
    height: 50px;
    justify-content: center;
    margin: 0 1.5rem;

}

.row{
    margin: 0 5rem;
    color:rgb(219, 69, 139) ;
}

.text{
    display: flex;
    justify-content: center;
    margin: 5rem;
    font-size: xx-large;
}

.collection{
    margin: 0 2rem;
    
    
}

.coll{
    margin: 10px auto;
    display: flex;
    padding-left:1.5rem ;
}

.coll h2{
    text-transform: uppercase;
    
    
}

.coll p{
    margin-top: 1rem;
    text-transform: uppercase;

}
.immg img{
        width: 80%;
        height: 60%;
}

.tubby{
    margin: 0 auto;
    text-transform: uppercase;
}

.tubby h3{
    font-size: xx-large;
    display: flex;
    margin: 0 3rem;
}

.tubby p{
    margin: 1rem 3rem;
}
@media all and (max-width: 720px) {
    
    .container{
        flex-direction: column;
        align-items: flex-start;
  }
nav{
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: 250ms height ease-in-out;
}

  li{
      display: block;
      text-align: center;
      padding: 1.5rem 0;
  }

  li a{
      font-size: 1.4rem;
  }
  .nav-toggle{
 display: block;
 cursor: pointer;
  }

}