@media only screen and (max-width: 1200px) {
     .svgs{
         display: flex;
     }

     .list{
         margin: auto;
         display: flex;
     }
}

@media only screen and (max-width: 992px){

    .svgs{
        display: flex;
    }
     .nav a img{
         margin-left: 16px;
     }
     .row{
         margin-left: -112px;
     }
}

@media only screen and (max-width: 800px){

    .container{
        display: none;
    }
    .text h1{

    }
    
    .row .text h1{
                margin-left: 343px;
    }
    .eth p{
        margin-left: 368px;
    }
    .text-p{
        margin-left: 429px;
    }
    .marketplace{
        margin-left: 313px;
    }
}


@media only screen and (max-width: 768px){
    .container{
        display: none;
    }
    .text h1{

    }
    
    .row .text h1{
                margin-left: 225px;
    }
    .eth p{
        margin-left: 250px;
    }
    .text-p{
        margin-left: 292px;
    }
    .marketplace{
        margin-left: 208px;

    }
    .marketplace a{
        margin: auto;
        padding-left: 59px;
    }
}

@media only screen and (max-width: 600px){
    .container{
        display: none;
    }
    .row .text h1{
        margin-left: 163px !important;
        font-size: 48px !important;
    }
    .eth p{
        margin-left: 146px !important;
    display: flex !important;
    font-size: 14px !important;
    margin-top: 10px !important;
}
.text-p{
    display: flex;
    font-size: 13px;
    margin-left: 151px;

}
.marketplace{
    display: grid;
    margin-left: 53px;
    margin-top: 32px;
}

.scroller img{
    height: 186px;
}
}
.row .marketplace a{
margin-bottom: 20px;

}

@media screen and (min-width: 312px) and (max-width: 320px){
    .row .text h1{
        margin-left: 157px;
        font-size: 37px;
    }
    .eth p{
        margin-left: 140px;
    display: flex;
    font-size: 10px;
    margin-top: 10px;
}
.text-p{
    display: flex;
    font-size: 9px;
    margin-left: 151px;

}
.marketplace{
    display: grid;
    margin-left: 63px;
    margin-top: 40px;
}
.scroller img {
    overflow: hidden;
    height: 147px;
    position: fixed;
    bottom: 0px;
    animation: slider 100s linear infinite;
}
}

@media only screen and (max-width: 320px){
    .row .text h1{
        margin-left: 180px;
        font-size: 42px;
    }
    .eth p{
        margin-left: 140px;
    display: flex;
    font-size: 12px;
    margin-top: 10px;
}
.text-p{
    display: flex;
    font-size: 10px;
    margin-left: 163px;

}
.marketplace{
    display: grid;
    margin-left: 129px;
    margin-top: 20px;
}
.row .marketplace a{
margin-bottom: 20px;
}
}

