



*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/bgd.f7687446.png);
}

header{
    background-color: rgb(255,236,245);
    
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    align-items: center;
    padding: 1rem 1rem;

}

nav{
    display: flex;
}

ul{
    padding: 0;
}

li{
    display: inline-block;
    padding: 0 1.25rem;
    margin-left: 1.25rem;


}

li a{
    color: rgb(223, 122, 169);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;
}
li a:hover{
    color: rgb(219, 69, 139) ;
    opacity: 1;
}
li button{
    color:#fff;
    padding: 1rem 2rem;
    margin: 0 1.5rem;
    border: 1px solid rgb(219, 69, 139);
    background-color: rgb(219, 69, 139) ;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;

} 

.svgs a{
    text-decoration: none;

}
.nav-toggle{
    display:none ;
    position:absolute;
    top: 1.5rem;
    right: 1rem;
}

.open{
    background-color: #fff;
    height:50vh;

}

.hidden{
    display: none;
}

a img{
    width: 50px;
    height: 50px;
    justify-content: center;
    margin: 0 1.5rem;

}

.row{
    display: flex;
    color: rgb(219, 69, 139) ;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}

.row h1 {
    justify-content: center;
    display: flex;
    margin: 1.5rem;
}
.text{
    justify-content: center;
    align-items: center;
}

.para{
    color: rgb(113, 127, 139);
    margin: 1.5rem;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;

}
.links ul li a{
    border: 1px solid rgb(219, 69, 139);
    padding: 20px 50px;
    border-radius: 50px;
}

.opens{
    color: #fff;
    background-color: rgb(219, 69, 139);
}
.opens:hover{
    color: #fff;
}

.images{
    width: 100%;
   position: absolute;
   bottom: 0;
    overflow: hidden;
}
.images img{
    overflow: hidden;
    height: 202px;
    animation: slider 100s linear infinite;
}

@keyframes slider{
    100% {
        transform: translateX(-66.6666%);
    }
}
@media all and (max-width: 720px) {
    
    .container{
        flex-direction: column;
        align-items: flex-start;
  }
nav{
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: 250ms height ease-in-out;
}

  li{
      display: block;
      text-align: center;
      padding: 1.5rem 0;
  }

  li a{
      font-size: 1.4rem;
  }
  .nav-toggle{
 display: block;
 cursor: pointer;
  }

}

@media all and (max-width: 500px){
    h2{
        font-size: 13px;

    }
    .para{
        font-size: 13px;
    }
}

@media all and (max-width: 320px){
    .row h2{
        font-size: 10px;
    }
    .para{
        font-size: 10px;
    }
    .images img{
        height: 138px;
    }
}